* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* banner style */

.header {
    background-image: url('../images/banner/banner2.png');
    height: 809px;
    width: 1600px;
    left: 1600px;
    top: 0px;
    border-radius: 0px;

}

.banner-description {
    padding: 200px 500px;



}

.button {
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFFFFF;
    padding: 20px 25px;
    border: 0;






}

.banner-title {

    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: right;

}

.banner-detail {
    margin-top: 0;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;

}

.failure {
    display: flex;
    gap: 24px;
    width: 1050px;
}

.f-image {
    align-items: center;

}

.faliure-title {
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #151414;



}

.faliure-details {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #444343;


}

.failure-position {


    height: 498px;
    width: 465px;
    left: 1009px;
    top: 1309px;
    border-radius: 0px;
    align-items: center;
    padding: 0px 500px;



}

.plan-head {

    text-align: center;
}

.plan-container {

    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 200px;
}

.mindset {
    margin-top: 120px;
    background-image: url('../images/watch.png');
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    height: 300px;
    width: 1140px;
    left: 230px;
    top: 2216.2998046875px;
    border-radius: 8px;


}

.positive-mind {}

.mind-head {
    margin-top: 50px;
}

.future-container {
    display: flex;
}

.future {
    background-color: black;
}

.contact {
    
}